<!DOCTYPE html>
<html>
<head>
    <title>Casting Agency</title>
</head>
<body>
    <div id="header">
        <h1>The Casting Agency</h1>
        <h2>Movie Casts</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cast">View Cast</a></li>
                <li><a href="/actor">View Actor</a></li>
            </ul>
        </nav>
    </div>

    <div>
        {% if session %}
            <h2>Welcome {{session.userinfo.nickname}}!</h2>
            <p><a href="/logout">Logout</a></p>
            <div><pre>{{pretty}}</pre></div>
        {% else %}
            <h1>Welcome Guest</h1>
            <p><a href="/login">Login</a></p>
        {% endif %}
    </div>
    
    <h3>Select a Movie</h3>
    <form id="movie_select_form">
        <select id="selected_movie" name="selected_movie">
            {% for m in movies %}
                <option value="{{ m.mov_id }}">{{ m.mov_title }}</option>
            {% endfor %}
        </select>
        <button type="button" id="show_cast_button">Show Cast</button>
    </form>

    <div id="cast_list">
        <!-- Cast list will be displayed here -->
    </div>

    <script>
        function queryCastForActor(actorId) {
            return fetch(`/actor/${actorId}/casts`)
                .then(response => response.json());
        }
        
        document.getElementById('show_cast_button').addEventListener('click', () => {
            const selectedMovieId = document.getElementById('selected_movie').value;

            fetch(`/movie/${selectedMovieId}/cast`)
                .then(response => response.json())
                .then(data => {
//                  console.log(data);
                    if (data.success) {
                        const castList = data.cast_list;
                        const castListContainer = document.getElementById('cast_list');

                        // Clear previous cast list
                        castListContainer.innerHTML = '';

                        // Display the cast for the selected movie
                        const castHeader = document.createElement('h2');
                        castHeader.textContent = 'Cast:';
                        castListContainer.appendChild(castHeader);

                        if (castList.length === 0) {
                            const noCastMessage = document.createElement('p');
                            noCastMessage.textContent = 'No actors assigned to this movie yet.';
                            castListContainer.appendChild(noCastMessage);
                        } else {
                            const table = document.createElement('table');
                            const tableHeaderRow = document.createElement('tr');
                            //const act_idHeaderCell = document.createElement('th');
                            //act_idHeaderCell.textContent = 'ID';
                            const act_firstnameHeaderCell = document.createElement('th');
                            act_firstnameHeaderCell.textContent = 'Firstname';
                            const act_lastnameHeaderCell = document.createElement('th');
                            act_lastnameHeaderCell.textContent = 'Lastname';
                            const cas_roleHeaderCell = document.createElement('th');
                            cas_roleHeaderCell.textContent = 'Role';
                            const actionsHeaderCell = document.createElement('th');
                            actionsHeaderCell.textContent = 'Actions';
                            //tableHeaderRow.appendChild(act_idHeaderCell);
                            tableHeaderRow.appendChild(act_firstnameHeaderCell);
                            tableHeaderRow.appendChild(act_lastnameHeaderCell);
                            tableHeaderRow.appendChild(cas_roleHeaderCell);
                            tableHeaderRow.appendChild(actionsHeaderCell);
                            table.appendChild(tableHeaderRow);
                            castList.forEach(actor => {
                                queryCastForActor(actor.act_id)
                                    .then(cast => {
                                        const tableRow = document.createElement('tr');
                                            //const act_idCell = document.createElement('td');
                                            //act_idCell.textContent = actor.act_id;
                                            const act_firstnameCell = document.createElement('td');
                                            act_firstnameCell.textContent = actor.act_firstname;
                                            const act_lastnameCell = document.createElement('td');
                                            act_lastnameCell.textContent = actor.act_lastname;
                                            const cas_roleCell = document.createElement('td');
                                            cas_roleCell.textContent = actor.cas_role;
                                            const actionsCell = document.createElement('td');
                                            const deleteButton = document.createElement('button');
                                            deleteButton.innerHTML = 'Remove actor from Cast;';
                                            deleteButton.addEventListener('click', () => {
                                                deleteActorFromCast(selectedMovieId, actor.act_id);
                                            });
                                        actionsCell.appendChild(deleteButton);
                                        //tableRow.appendChild(act_idCell);
                                        tableRow.appendChild(act_firstnameCell);
                                        tableRow.appendChild(act_lastnameCell);
                                        tableRow.appendChild(cas_roleCell);
                                        tableRow.appendChild(actionsCell);
                                        table.appendChild(tableRow);
                                    })
                                    .catch(error => {
                                        console.error(error);
                                    });
                            });
                            castListContainer.appendChild(table);
                        }
                    } else {
                        alert('Failed to retrieve cast.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

    <script>    // Function to delete an actor from the cast list
        function deleteActorFromCast(selectedMov_id, act_id) {
            fetch(`/movie/${selectedMov_id}/cast/delete/${act_id}`, {
                method: 'POST',
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Reload the cast list after successful deletion
                    document.getElementById('show_cast_button').click();
                } else {
                    alert('Failed to delete actor from the cast list.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>