<!DOCTYPE html>
<html>
    <head>
        <title>Casting Agency</title>
        <style>
            .hidden {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <h1>The Casting Agency</h1>
            <h2>Login</h2>
            <a href="https://rellow.eu.auth0.com">Login</a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/cast">View Cast</a></li>
                    <li><a href="/actor">View Actor</a></li>
                </ul>
            </nav>
        </div>